# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
g_key

'AIzaSyAPv7YNzTMSr0evqUDokrTXm4IUxlZN0tc'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("output_data/final_cities.csv",index_col=0)

cities_df

,Cities,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,kapaa,22.08,-159.32,24.00,83.0,40.0,4.60,US,1.589609e+09
1,portland,45.52,-122.68,14.44,71.0,20.0,1.50,US,1.589609e+09
2,punta arenas,-53.15,-70.92,5.00,93.0,90.0,3.60,CL,1.589609e+09
3,chuy,-33.70,-53.46,12.73,75.0,18.0,5.31,UY,1.589609e+09
4,victoria,22.29,114.16,31.11,66.0,8.0,7.15,HK,1.589609e+09
...,...,...,...,...,...,...,...,...,...
590,prudentopolis,-25.21,-50.98,10.24,99.0,28.0,0.56,BR,1.589609e+09
591,zhezkazgan,47.80,67.71,23.00,40.0,75.0,4.00,KZ,1.589609e+09
592,penzance,50.12,-5.54,9.44,87.0,82.0,3.10,GB,1.589609e+09
593,northam,51.03,-4.22,7.78,93.0,97.0,0.89,GB,1.589609e+09
594,kapchorwa,1.40,34.45,18.44,83.0,55.0,1.33,UG,1.589609e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
clean_df = cities_df[['Lat',"Lng",'Humidity']].apply (pd.to_numeric, errors='coerce')

clean_df = clean_df.dropna()
clean_df

       Lat     Lng  Humidity
0    22.08 -159.32      83.0
1    45.52 -122.68      71.0
2   -53.15  -70.92      93.0
3   -33.70  -53.46      75.0
4    22.29  114.16      66.0
..     ...     ...       ...
590 -25.21  -50.98      99.0
591  47.80   67.71      40.0
592  50.12   -5.54      87.0
593  51.03   -4.22      93.0
594   1.40   34.45      83.0

[547 rows x 3 columns]

In [13]:


locations = clean_df[['Lat',"Lng"]]
humidity = clean_df['Humidity'].astype(float)
humidity

clean_df = cities_df.drop(cities_df[cities_df['Humidity'] >100].index)
clean_df


fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
clean_df

,Cities,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,kapaa,22.08,-159.32,24.00,83.0,40.0,4.60,US,1.589609e+09
1,portland,45.52,-122.68,14.44,71.0,20.0,1.50,US,1.589609e+09
2,punta arenas,-53.15,-70.92,5.00,93.0,90.0,3.60,CL,1.589609e+09
3,chuy,-33.70,-53.46,12.73,75.0,18.0,5.31,UY,1.589609e+09
4,victoria,22.29,114.16,31.11,66.0,8.0,7.15,HK,1.589609e+09
...,...,...,...,...,...,...,...,...,...
590,prudentopolis,-25.21,-50.98,10.24,99.0,28.0,0.56,BR,1.589609e+09
591,zhezkazgan,47.80,67.71,23.00,40.0,75.0,4.00,KZ,1.589609e+09
592,penzance,50.12,-5.54,9.44,87.0,82.0,3.10,GB,1.589609e+09
593,northam,51.03,-4.22,7.78,93.0,97.0,0.89,GB,1.589609e+09
594,kapchorwa,1.40,34.45,18.44,83.0,55.0,1.33,UG,1.589609e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [7]:
# Add marker layer ontop of heat map


# Display figure